 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Johan</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I am a passionate software engineer with 30+ years of experience.<br/><br/>I have made the switch to full time Android developer in 2011 and started as an independent Android Developer in 2015. Around 2018 I had the opportunity to work with Flutter and contribute as Tech Lead and Mobile Software Architect since then.</p>
                </div>
                <div class="col-lg-4">
                    <p>I am the founder of <a href="http://www.dutchaug.org">The Dutch Android User Group</a> and <a href="http://www.flutternl.org">Flutter Netherlands</a> where Android respectively Flutter professionals can meet and share knowledge at the monthly meetups.<br/><br/>With <a href="https://www.goodreads.com/user/show/99418541-johan-pelgrim">reading</a>, <a href="https://pelgrim.substack.com">writing</a> and making music as hobbies the rest of my time is devoured by my wife, three kids and dog.</p>
                </div>
            </div>
        </div>
    </section>