 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Johan is a passionate Android developer with 20 years of programming experience up his sleeve.<br/><br/>Johan has made the switch to full time Android developer in 2011 and started as an independent Android Developer in 2015.</p>
                </div>
                <div class="col-lg-4">
                    <p>Johan is founder of <a href="http://www.dutchaug.org">The Dutch Android User Group</a> where Android professionals can meet and share knowledge on their monthly meetups.<br/><br/>With Android as work and hobby the rest of his time is devoured by his two daughters, son and wife.</p>
                </div>
            </div>
        </div>
    </section>