 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Johan is a passionate Android developer with nearly 20 years of general programming experience in his back pocket. Johan has made the switch to full time Android developer in 2011 and started as an independent Android Developer in 2015.</p>
                </div>
                <div class="col-lg-4">
                    <p>Johan is founder of <a href="http://www.dutchaug.org">The Dutch Android User Group</a> where Android professionals can meet and share knowledge on their monthly meetups. With Android as work and hobby the rest of his time is devoured by his two daughters and son.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="/algemene-voorwaarden-codestone.pdf" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Terms &amp; Conditions (in Dutch)
                    </a>
                </div>
            </div>
        </div>
    </section>